:root {
    --main-yellow: #FEDA77;
    --hover-yellow: #FCE8AE;
    --white: #F5F5F5;
    --pop-color: #D177FE;
    --hover-pop-color: #E1AFFC;
    --text-gray: #363636;
    --black: #21252B;
  }

.section{
    padding: 0%;
    margin: 0%;
    padding-bottom: 5%;
    background-color: var(--black);
}

.intro {
    /* to update margin with calc */
    margin-right: 15vw;
    padding-top: 1cm;
    color: var(--white);
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.title{
    color: var(--white);
    text-align: center;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.subtitle{
    color: var(--white);
    text-align: center;
}

.navbar{
    background-color: var(--main-yellow);
    justify-content: center;
}

.navbar-item{
    background-color: var(--main-yellow);
    text-decoration: none;
    color: var(--text-gray) !important;
}

.navbar-item:hover{
    background-color: var(--hover-yellow) !important;
}

.navbar-link{
    text-decoration: none;
}

.profile_pic{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 30%; 
    border: 3px solid var(--main-yellow); 
    border-radius: 50%;
}

.button{
    text-decoration: none;
    background-color: var(--pop-color);
    border: 0;
}

.button:hover{
    background-color: var(--hover-pop-color) !important;
}

.project-text{
    color: var(--white);
    margin-left: auto;
    margin-right: 0;
    width: 80%"
}

.project-name{
    color: var(--pop-color);
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

.project-name:hover{
    color: var(--hover-pop-color);
}

.project-image{
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    border: 3px solid var(--pop-color);
}

.links{
    color: var(--pop-color);
    text-decoration: underline;
}

.links:hover{
    color: var(--hover-pop-color);
}

.right-col-text{
    color: var(--white);
    font-size: 1.25rem;
}

.experience-intro{
    font-size: 1.25rem;
    font-weight: bold;
}

.experience-intro .experience-title{
    color: var(--pop-color);
}

.experience-text{
    color: var(--white);
    font-size: 1rem;
}

.certificate-skills{
    font-size: 15px;
}

.fade-item {
    color: var(--pop-color);
    display: inline-block;
    position: absolute;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease;
    opacity: 0;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media (min-width: 1024px) {
    .custom-margin {
        margin-left: 35vw;
    }
}

@media (min-width: 1440px) {
    .custom-margin {
        margin-left: 40vw;
    }
}

@media (min-width: 2560px) {
    .custom-margin {
        margin-left: 44vw;
    }
}