:root {
    --main-yellow: #FEDA77;
    --hover-yellow: #FCE8AE;
    --white: #F5F5F5;
    --pop-color: #6fd8a7;
    --hover-pop-color: #93e2bd;
    --text-gray: #363636;
    --black: #21252B;
  }

html, body{
    background-color: var(--black);
}

.section{
    margin: 0%;
    padding: 0% 0% 5% 0%;
}

.intro{
    color: var(--white);
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}


.title{
    color: var(--white);
    text-align: center;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.subtitle{
    color: var(--white);
    text-align: center;
}

.navbar{
    background-color: var(--main-yellow);
    justify-content: center;
}

.navbar-item{
    background-color: var(--main-yellow);
    text-decoration: none;
    color: var(--text-gray) !important;
}

.navbar-item:hover{
    background-color: var(--hover-yellow) !important;
}

.navbar-link{
    text-decoration: none;
}

.profile_pic{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 25%; 
    border: 3px solid var(--main-yellow); 
    border-radius: 50%;
}

.button{
    text-decoration: none;
    background-color: var(--pop-color);
    border: 0;
}

.button:hover{
    background-color: var(--hover-pop-color) !important;
}

#experience-table{
    color: var(--white);
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#experience-table td, #experience-table th {
    border: 1px solid var(--white);
    padding: 15px;
    text-align: left;
}

#experience-table tr:nth-child(even) {
    color: var(--black);
    background-color: var(--hover-pop-color);
}

#experience-table li{
    color: var(--white);
    list-style: disc;
}

#experience-table a{
    color: var(--hover-pop-color);
}

#column-header{
    background-color: var(--white);
    font-weight: bold;
    font-size: large;
}

.project-text{
    color: var(--white);
    margin-left: auto;
    margin-right: 0;
    width: 80%"
}

.project-name{
    color: var(--pop-color);
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

.project-name:hover{
    color: var(--hover-pop-color);
}

.project-image{
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    border: 3px solid var(--pop-color);
}

.links{
    color: var(--pop-color);
    text-decoration: underline;
}

.links:hover{
    color: var(--hover-pop-color);
}

.right-col-text{
    color: var(--white);
    font-size: 1.25rem;
}

#certificate-table{
    color: var(--white);
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#certificate-table td, #certificate-table th {
    border: 1px solid var(--white);
    padding: 8px;
}

.certificate-skills{
    font-size: 15px;
}

.fade-item {
    color: var(--pop-color);
    position: absolute;
    margin-top: 2cm;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease;
    opacity: 0;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}