.bg-yellow{
    background-color: #FEDA77;
}

.navbar-item{
    background-color: #FEDA77;
    text-decoration: none;
}

.navbar-link{
    text-decoration: none;
}

.navbar-dropdown{
    background-color: #FEDA77;
}


.button{
    text-decoration: none;
}